<!-- <div *ngFor="let i of allUserDatas">
    <a routerLink="/SuggestUser" style="text-decoration: none;" >
      <img class="rounded-circle border border-3 border-danger" alt="avatar1" [src]="i.profile_photo" width="64" height="66" />&nbsp;&nbsp;
       <span class="text-dark">{{i.fullName}}</span>&nbsp;&nbsp;
       <button type="button" class="btn btn-outline-primary">Follow</button>
   </a><br>
  </div> -->
  <!-- <div >
    <a routerLink="/viewUser" style="text-decoration: none;" >
      <img class="rounded-circle border border-3 border-danger" alt="avatar1" [src]="viewUser.profile_photo" width="64" height="66" />&nbsp;&nbsp;
       <span class="text-dark">{{viewUser.fullName}}</span>&nbsp;&nbsp;
       <button type="button" class="btn btn-outline-primary">Follow</button>
   </a><br>
  </div>  -->
<div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
      <span class="text-dark mt-5" ><h4>{{data.username}}</h4></span>&nbsp;&nbsp;<br>

        <img class="rounded-circle border border-3 border-danger" alt="avatar1" [src]="data.profile_photo" width="64" height="66" />&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="ms-5">
            <span class="">55 post</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="">43 follower</span>&nbsp;&nbsp;
            <span class="">1 following</span>&nbsp;&nbsp;

        </span>
        <span class="text-dark mt-5" ><h4>{{data.fullName}}</h4></span>&nbsp;&nbsp;<br>
        <button type="button" class="btn btn-outline-primary">Follow</button>
        <div class>
          <img  [src]="data.profile_photo" width="320" height="366" />
        </div>





       
    </div>
    <div class="col-4"></div>
</div>