
<div class="row mt-5">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <h3 class="text-primary text-center text-decoration-underline">View profile</h3>
        <img class="rounded-circle border border-3 border-danger" alt="avatar1" [src]="data.profile_photo" width="64" height="66" />
        <span class="text-dark ps-5 fw-bold" >{{data.fullName}}</span>
        <span class="text-dark ps-5 fw-bold" >{{data.username}}</span>

        
        <div class="mt-3">
          <img  [src]="data.profile_photo" width="320" height="366" />
        </div>      
    </div>
    <div class="col-lg-4"></div>

</div>